body{
    background-color: lightgrey;
}
h1{
    color: rgb(61, 48, 30);
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.mylogo{
    height: 350px;
    width: auto;
    padding-left: 31rem;
}