{%  extends 'app/base.html' %}
{% load static %}
{% block content%}
        <div class="post-entry">
            <h2><a href="">{{post.title}}</a></h2>
            {% if post.header_image %}
            <img src="{{post.header_image.url}}" style="margin-left: 29em; height: 290px; width: auto;">
            {% endif %}
            <br/><br/>
            <p>{{post.body}}</p>
        </div>
        <a href="{% url 'blog_update' post.pk %}" style="margin-left: 3rem;"> EDIT BLOG POST </a>
        
        <a href="{% url 'blog_delete' post.pk %}"style="margin-left: 54rem;"> DELETE POST </a>
{% endblock content %}